
.tooltip {
    position: relative;
    display: inline-block;
    background-color: red;
  }
  
  .tooltiptext {
    position: absolute;
   
    color: white;
    padding: 8px;
    border-radius: 4px;
    top: 100%; /* below the element */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
    background-color: red;
  }
  